[Container]
Image=docker.io/syncthing/syncthing:1
AutoUpdate=registry
PublishPort=5432:5432
PublishPort=127.0.0.1:8384:8384/tcp
PublishPort=22000:22000/tcp
UIDMap=1000:0:1
UIDMap=0:1:1000
UIDMap=1001:1001:64536
Environment=PUID=1000
Environment=PGID=1000
Environment=TZ=Etc/UTC
Volume=/obj/docker/volume/syncthing:/var/syncthing

[Service]
Restart=always

[Install]
WantedBy=default.target
