[Container]
Image=ghcr.io/boinkor-net/tsnsrv:latest
AutoUpdate=registry
Volume=tsnsrv-navidrome:/.config

[Unit]
Wants=navidrome.container
After=navidrome.container

[Service]
Restart=always

[Install]
WantedBy=default.target
