# The first time you start this container you must log in.
# Fetch the login URL via:
#
#     journalctl --user -xeu tsnsrv-pinchflat.service
#
# The machine key (secret) is stored in the volume tsnsrv-pinchflat,
# which will be created automatically.

[Container]
Image=ghcr.io/boinkor-net/tsnsrv@sha256:fa119f7113622364dfef419172ba0107ba536564044d612e5b4ea31060882132
AutoUpdate=registry
User=1000:1000
Volume=tsnsrv-pinchflat:/.config
Exec=-name=pinchflat http://host.containers.internal:8945

[Unit]
Wants=pinchflat.service
After=pinchflat.service

[Service]
Restart=always

[Install]
WantedBy=default.target
