# The first time you start this container you must log in.
# Fetch the login URL via:
#
#     journalctl --user -xeu tsnsrv-navidrome.service
#
# The machine key (secret) is stored in the volume tsnsrv-navidrome,
# which will be created automatically.

[Container]
Image=ghcr.io/boinkor-net/tsnsrv:fa119f7113622364dfef419172ba0107ba536564044d612e5b4ea31060882132
AutoUpdate=registry
User=1000:1000
Volume=tsnsrv-navidrome:/.config
Exec=-name=navidrome http://host.containers.internal:4533

[Unit]
Wants=navidrome.service
After=navidrome.service

[Service]
Restart=always

[Install]
WantedBy=default.target
