[Container]
Image=docker.io/louislam/uptime-kuma:1
AutoUpdate=registry
PublishPort=3001:3001
UIDMap=1000:0:1
UIDMap=0:1:1000
UIDMap=1001:1001:64536
Volume=uptime-kuma:/app/data

[Service]
Restart=always

[Install]
WantedBy=default.target
