[Unit]
Description=tmux session for user

[Service]
Type=forking
ExecStart=/usr/bin/tmux new-session -s default -d
ExecStop=/usr/bin/tmux kill-session -t default

[Install]
WantedBy=default.target
